.customTable {
  :global {
    .ant-table-title {
      padding: 0 0 12px 0 !important;
    }
    .ant-table-footer {
      padding: 12px !important;
    }

    .ant-table {
      max-height: var(--dynamic-max-height);
      min-height: var(--dynamic-min-height);
    }
  }
}
