auto-install-peers=true
engine-strict=true
shamefully-hoist=true
strict-peer-dependencies=false
legacy-peer-deps=true
node-linker=hoisted
@raipiot-infra:registry=http://npm-registry.raipiot.com:4873/
