@use 'tailwind.scss';
@use 'fonts.scss';
@use 'custom.scss';

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
}

html,
body {
  font-family:
    Nunito,
    Noto Sans SC,
    system-ui,
    -apple-system,
    Roboto,
    Helvetica Neue,
    Arial,
    sans-serif;
  height: 100vh;
  user-select: none;
}

#app {
  height: auto;
}

.dark {
  color-scheme: dark;
}

[data-theme='dark'] {
  color: #ffffff;
}

.global-hide-scrollbar {
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer 10+ */
  -webkit-overflow-scrolling: touch; /* iOS (Safari and Chrome) */

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background: transparent; /* Chrome, Safari, and Edge */
  }

  &::-webkit-scrollbar-thumb {
    background-color: transparent;
  }
}

.table-layout-full-screen-container {
  background: white;
  padding: 20px;
}

[data-theme='dark'] .table-layout-full-screen-container {
  background: #1f1f1f;
}

::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}

::view-transition-old(root) {
  z-index: 9999;
}

::view-transition-new(root) {
  z-index: 1;
}

[data-theme='dark']::view-transition-old(root) {
  z-index: 1;
}

[data-theme='dark']::view-transition-new(root) {
  z-index: 9999;
}
