.tableWrapper {
  :global {
    .ant-table-title {
      padding: 0 0 12px 0 !important;
    }
    .ant-table-footer {
      padding: 12px !important;
    }
    .ant-table-selection-extra {
      bottom: 0;
      padding-inline-start: 4px !important;
      .ant-dropdown-trigger {
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
      }
    }
    .ant-table-row {
      .rp-table-action {
        opacity: 0;
        transform: rotateX(60deg) translateX(20%);
      }
      &:hover {
        .rp-table-action {
          opacity: 1;
          transform: none;
        }
      }
    }
  }

  .tableContainer {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    -webkit-overflow-scrolling: touch; /* iOS (Safari and Chrome) */

    &::-webkit-scrollbar {
      width: 0;
      height: 0;
      background: transparent; /* Chrome, Safari, and Edge */
    }

    &::-webkit-scrollbar-thumb {
      background-color: transparent;
    }
  }
}
